<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Année</th>
      <th>Collectivité</th>
      <th>Type de contrat</th>
      <th>Emploi</th>
      <th>Niveau</th>
      <th>Spécialité</th>
      <th>Entrée mise à jour le</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.year %></td>
        <td><%= job.collectivity %></td>
        <td><%= job.contract_type %></td>
        <td><%= job.job_title %></td>
        <td><%= job.job_level %></td>
        <td><%= job.job_specialty %></td>
        <td><%= job.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<h3>Importer un fichier (format csv)</h3>
  <%= form_tag import_jobs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Importer le fichier" %>
  <% end %>
</div>