<!DOCTYPE html>
<html>
  <head>
    <title>AppTrustParisParity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="color: green; font-size: 30px">
      <strong><%= success %></strong>
    </div>

    <div style="color: red; font-size: 30px">
      <strong><%= fail %></strong>
    </div>

    <%= yield %>
  </body>
</html>
